body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-image: url('images/bg3.jpg');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5); 
    color: #333;
    margin: 0;
    padding: 0;
}

header {

    background-size: cover;
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 20px; 
}
header h1 {
    font-size: 60px; /* Adjust the font size for h1 */
}

header p {
    font-size: 25px; /* Adjust the font size for p */
}

.description {

    background-size: cover;
    padding: 40px;
    margin: 20px 0;
    color: white;
    text-align: center;
}

.description h2 {
    font-size: 40px; /* Adjust the font size for h1 */
}

.description p {
    font-size: 15px; /* Adjust the font size for p */
}

.team-section h2 {
    text-align: center;
    color: white;
    font-size: 40px;
}

.team-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center the list items */
    color: white;

}

.team-section li {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center vertically within the flex container */
    margin: 40px auto;
    text-align: left;
}

.team-member-content {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

.team-section li:nth-child(1) .team-member-content {
    background-image: url('images/team/Luca.jpeg');
}

.team-section li:nth-child(2) .team-member-content {
    background-image: url('images/team/Nico.jpeg');
}

.team-section li:nth-child(3) .team-member-content {
    background-image: url('images/team/Alex.jpeg');
}

.team-section li:nth-child(4) .team-member-content {
    background-image: url('images/team/Simon.jpeg');
}


.team-member-content {
    width: 150px;
    height: 100px;
    background-size: cover;
    border-radius: 100%;
    overflow: hidden;
}

.team-member-details {
    flex-grow: 1; /* Allow the text to take up available space */
    margin-left: 20px; /* Adjust the margin between image and text */
}

.team-member-details h3, .team-member-details p {
    color: white;
    margin: 10px 0;
}

.team-section img {
    max-width: 100%; /* Ensure images don't exceed their container */
    height: 100px; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: Add rounded corners to the images */
    margin-bottom: 50px; /* Optional: Add space between image and name */
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /*display: none; /* Initially hide the footer */
}


