body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-image: url('images/bg3.jpg');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5); 
    color: #333;
    margin: 0;
    padding: 0;
}

header {

    background-size: cover;
    color: white;
    padding: 50px;
    text-align: center;
}

header h1 {
    font-size: 50px; /* Adjust the font size for h1 */
    text-align: center;
}

header p {
    font-size: 40px; /* Adjust the font size for p */
    text-align: center;
}

.description {
    background-size: cover;
    padding: 40px;
    margin: 20px 0;
    color: white;
    text-align: center;
}

.description h2 {
    font-size: 40px; /* Adjust the font size for h1 */
}

.description p {
    font-size: 17px; /* Adjust the font size for p */
}

.team-section h2 {
    text-align: center;
    color: white;
    font-size: 40px;
}

.team-section h3 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.team-section p {
    text-align: center;
    color: white;
    font-size: 17px;
}

.team-section img {
    text-align: center;
    max-width: 100%; /* Ensure images don't exceed their container */
    height: 100px; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: Add rounded corners to the images */
    margin-bottom: 20px; /* Optional: Add space between image and name */
    margin: 20px auto; /* Center the image horizontally */
} 


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /*display: none; /* Initially hide the footer */
}


